<%= render 'layouts/error',obj: @item %>
    
<h5 class="bg-secondary" style="width: 130px; margin:30px 0 20px 200px;">商品新規登録</h5>
<div class="container">
  <div class="form-group row">
   <div class="col-2"></div>
      <div class="col-6">

<%= form_with(model: @item, url: '/admin/items', local: true) do |f| %>
  <table>
    <tr>
      <td><%= f.label :商品画像 %></td>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
    <tr>
      <td><%= f.label :商品名 %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :商品紹介 %></td>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <td><%= f.label :産地 %></td>
      <td><%= f.select :production_area_id, options_from_collection_for_select(@production_areas, :id, :name), include_blank: "選択してください" %></td>
    </tr>
    <tr>
      <td><%= f.label :税抜価格 %></td>
      <td><%= f.text_field :price %></td>
    </tr>
  
  <div class="col-9">
    <tr>
      <td><%= f.label :is_active, '販売ステータス'%></td>
        <td>
          <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_active, 'on_sale', checked: @item.is_active == 'on_sale', class: 'custom-control-input', id: 'is_active-on-sale' %>
            <%= f.label :is_active, '販売中', class: 'custom-control-label', for: 'is_active-on-sale' %>
          </div>
        <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :is_active, 'off_sale', checked: @item.is_active == 'off_sale', class: 'custom-control-input', id: 'is_active-off-sale' %>
            <%= f.label :is_active, '販売停止中', class: 'custom-control-label', for: 'is_active-off-sale' %>
        </div>
      </td>
    </tr>
  </div>
   </table>
  <%= f.submit '新規登録',class: "btn btn-success" %>
<% end %>
    </div>
  </div>
</div>
