<div class="container">
  <%= flash.now[:notice] %>
  <h1 class="mt-5">配送先登録 / 一覧</h1>
  <%= form_with model: @address, url: public_addresses_path, local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <div class="form-group col-md-4">
            <%= f.label :"郵便番号（ハイフンなし)", class: "mt-3" %>
            <%= f.text_field :post_code, class: "form-control" %>
          </div>
        </tr>
        <tr>
          <div class="form-group col-md-7">
            <%= f.label :住所 %>
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </tr>
        <tr>
          <div class="form-group col-md-4">
            <%= f.label :宛名 %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </tr>
        <%= f.submit "新規登録", class: "btn btn-success" %>
      </tbody>
    </table>
  <% end %>

  <h2 class="mt-5">配送先一覧</h2>
  <div class="row">
    <% if @addresses.present? %>
      <% @addresses.each do |address| %>
        <div class="col-md-3">
          <div class="card mt-3">
            <div class="card-body">
              <p><strong>郵便番号:</strong> <%= address.post_code %></p>
              <p><strong>住所:</strong> <%= address.address %></p>
              <p><strong>宛名:</strong> <%= address.name %></p>
              <%= link_to "編集する", edit_public_address_path(address), class: "btn btn-primary mr-2" %>
              <%= button_to "削除", public_address_path(address), method: :delete, data: { confirm: "本当に削除しますか?" }, class: "btn btn-danger", form: { class: "d-inline" } %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="mt-3">配送先がありません。</p>
    <% end %>
  </div>
</div>